.header {
    display: flex;
    height: 38px;
    max-width: 1296px;
    width: 100%;
    padding: 0 8px;
    margin: 16px auto;
    box-sizing: border-box;
    justify-content: space-between;
}

.left-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
}

.burger-menu-open {
    display: flex;
    padding: 10px 8px;
    border-radius: 4px;
    background: #0F8277;
    border: none;
}

.e-tutoria {
    font-family: Quicksand;
    color: black;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.44px;
    text-decoration: none;
}

.header-search {
    display: none;
}

.btn-menu {
    display: flex;
    flex-direction: row;
    gap: 16px;
    height: 38px;
}

.log-btn {
    display: flex;
    padding: 10px 12px;
    background: none;
    border: none;
    color: #0F8277;
    text-align: center;
    font-family: Quicksand;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    
}

.sign-btn {
    display: flex;
    padding: 10px 12px;
    background: #0F8277;
    border: none;
    border-radius: 4px;
    color: white;
    text-align: center;
    font-family: Quicksand;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.explore-btn {
    display: none;
}

.input-border {
    display: none;
}

.nav-menu {
    display: none;
}

@media (min-width: 768px) {
    .btn-menu {
        width: 156px;
    }

    .header-search {
        display: flex;
        padding: 10px;
        background: #0F8277;
        border: 1px solid #5C5C5C;
        border-radius: 4px;
    }

    .right-content{
        display: flex;
        flex-direction: row;
        gap: 32px;
    }
}

@media (min-width: 1368px) {
    .header {
        margin: 30px auto;
    }

    .left-content{
        gap: 44px;
    }

    .burger-menu{
        display: none;
    }

    .right-content .header-search{
        display: none;
    }

    .explore-btn {
        display: flex;
        padding: 10px 12px;
        background: #0F8277;
        border: none;
        border-radius: 4px;
        color: white;
        text-align: center;
        font-family: Quicksand;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        gap: 8px;
    }

    .right-content {
        align-items: center;
    }

    .input-border{
        display: flex;
        border: 1px solid #5C5C5C;
        border-radius: 4px;
        width: 330px;
    }

    .header-search {
        border-radius: unset;
        border: none;
        border-left: 1px solid #5C5C5C;
    }

    .header-input {
        display: flex;
        border: none;
        padding-left: 12px;
        color: #5C5C5C;
        font-family: Quicksand;
        font-size: 16px;
        font-weight: 500;
        line-height: 120%;
        width: 100%;
    }

    .nav-menu {
        display: flex;
        flex-direction: row;
        gap: 48px;
        align-items: center;
        justify-content: center;
    }

    .nav-text {
        text-decoration: none;
        color: black;
        font-family: Quicksand;
        font-size: 16px;
        font-weight: 500;
        line-height: 120%;
    }
}